@import views.html.helpers.date
@import models.MappedArticle

@(mappedArticles: List[MappedArticle])

@main("Notebook") {
    @*img/covers/cover-21.jpg*@
    <div class="cover parallax-window" data-parallax="scroll" data-image-src="@routes.Assets.versioned("img/covers/cover-20.jpg")">
        <div class="cover-contents-wrapper">
            <div class="cover-contents">
                <h1><span class="cover-title">Notebook</span></h1>
            </div>
        </div>
    </div>

    <div class="container container-lead">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3>Articles</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="page-listing">
                            @for(mappedArticle <- mappedArticles) {
                                <li>
                                    <a href="@routes.NotebookController.showArticle(mappedArticle.slug)">@mappedArticle.article.title</a>
                                    <span class="page-listing-date">- @date(mappedArticle.article.publishDate)</span>
                                </li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel-heading">
                        <h3>Influences</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="page-listing">
                            <li>
                                <a href="http://www.amazon.com/Growing-Object-Oriented-Software-Guided-Tests/dp/0321503627/ref=sr_1_1">
                                    Growing Object Oriented Software Guided by Tests</a>
                                <p>Demonstrates how to build features incrementally in vertical feature slices. Gives
                                    good examples for structuring and testing your code.</p>
                            </li>
                            <li>
                                <a href="http://www.amazon.com/Domain-Driven-Design-Tackling-Complexity-Software/dp/0321125215/ref=sr_1_1">
                                    Domain Driven Design</a>
                                <p>Explains how to model business domains and define boundaries between modules.
                                    Anti-corruption layer in domain bounded contexts can be applied to modeling in a
                                    ports-and-adapters architectures.</p>
                            </li>
                            <li>
                                <a href="https://ucvox.files.wordpress.com/2012/11/113617905-scaling-agile-spotify-11.pdf">
                                    Scaling Agile @@ Spotify - with Tribes, Squads, Chapters, and Guilds</a>
                                <p>Interesting read about how Spotify keeps agile principles and self-directed
                                    development at a large scale.</p>
                            </li>
                            <li>
                                <a href="http://12factor.net/">The Twelve-Factor App</a>
                                <p>Guidelines for building scalable, cloud-based application.</p>
                            </li>
                            <li>
                                <a href="http://www.yegor256.com/best.html">Yegor Bugayenko's Blog</a>
                                <p>Interesting ideas in immutability and object-oriented thinking.</p>
                            </li>
                            <li>
                                <a href="https://archive.org/details/abstraction_of_code">
                                    A study of Code Abstraction</a>
                                <p>A deep-dive into the layers of abstractions involved in everyday code.</p>
                            </li>
                            <li>
                                <a href="http://www.infoq.com/articles/webber-rest-workflow">
                                    REST-ful Order Coffee Article</a>
                                <p>Defining REST-ful API for real-world interactions.</p>
                            </li>
                            <li>
                                <a href="http://www.amazon.com/Getting-Things-Done-Stress-Free-Productivity/dp/0143126563/ref=sr_1_1">
                                    Getting Things Done: The Art of Stress-Free Productivity</a>
                                <p>Simple way to organize to-do list into actionables.</p>
                            </li>
                            <li>
                                <a href="http://reddit.com/r/programming">Reddit /r/programming</a>
                                <p>Get updated on the latest programming trends, frameworks, languages, and patterns.</p>
                            </li>
                            <li>
                                <a href="https://news.ycombinator.com/">Hacker News</a>
                                <p>Get updated on the latest start-up trends and small business articles.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}