@(title: String, bottomScripts: Html = Html(""))(content: Html)
<!DOCTYPE html>
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang=""><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang=""><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""><!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>@title</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/png" href="@routes.Assets.versioned("icon.png")" />

        <link rel="stylesheet" href="@routes.Assets.versioned("library/bootstrap-3.3.5-dist/css/bootstrap.min.css")">
        <script src="@routes.Assets.versioned("library/modernizr-2.8.3-respond-1.4.2.min.js")"></script>

        <link rel="stylesheet" href="@routes.Assets.versioned("library/syntaxhighlighter_3.0.83/styles/shCoreDefault.css")"/>
        <script src="@routes.Assets.versioned("library/syntaxhighlighter_3.0.83/scripts/shCore.js")"></script>
        <script src="@routes.Assets.versioned("library/syntaxhighlighter_3.0.83/scripts/shBrushPhp.js")"></script>
        <script src="@routes.Assets.versioned("library/syntaxhighlighter_3.0.83/scripts/shBrushJava.js")"></script>
        <script src="@routes.Assets.versioned("library/syntaxhighlighter_3.0.83/scripts/shBrushScala.js")"></script>
        <script src="@routes.Assets.versioned("library/syntaxhighlighter_3.0.83/scripts/shBrushSql.js")"></script>
        <script>SyntaxHighlighter.all();</script>

        <link rel="stylesheet" href="@routes.Assets.versioned("css/styles.css")">
    </head>
    <body>
        <nav class="navbar navbar-fixed-top navbar-simple">
            <div class="container">
                <div class="col-xs-12">
                    <div class="navbar-header">
                        <a href="@routes.DefaultController.about" class="navbar-brand">
                            <img class="logo" src="@routes.Assets.versioned("img/logo-medium.png")" alt="Brady Olsen" />
                        </a>
                        <button type="button" class="navbar-default navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse2" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar-collapse2">
                        <ul class="nav navbar-nav">
                            <li><a href="@routes.DefaultController.about">About</a></li>
                            <li><a href="@routes.NotebookController.index">Notebook</a></li>
                            <li><a href="@routes.ProjectController.index">Projects</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div id="loading-overlay">
            <p><img id="loading-image" src="@routes.Assets.versioned("img/loading-big.gif")" /></p>
        </div>

        <div id="main">
            @content
        </div>

        <script src="@routes.Assets.versioned("library/jquery-1.11.2.min.js")"></script>
        <script src="@routes.Assets.versioned("library/jquery.lazyload.min.js")"></script>
        <script src="@routes.Assets.versioned("library/bootstrap-3.3.5-dist/js/bootstrap.min.js")"></script>
        <script src="@routes.Assets.versioned("library/parallax.js-1.3.1/parallax.min.js")"></script>
        <script src="@routes.Assets.versioned("js/main.js")"></script>
        <script>
            // http://getbootstrap.com/getting-started/#support-ie10-width
            (function () {
                'use strict';
                if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
                    var msViewportStyle = document.createElement('style');
                    msViewportStyle.appendChild(
                        document.createTextNode('@@-ms-viewport{width:auto!important}')
                    );
                    document.querySelector('head').appendChild(msViewportStyle)
                }
            })();
        </script>
        @bottomScripts
    </body>
</html>
